* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }


  body {
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    display: grid;
  }

header{
    margin-top: 10px;
    margin: auto;
    text-decoration: underline;
  }

  #container{
      height: 800px;
      width: 800px;
      margin: auto;
  }

.rows{
    display: flex;
    margin: 0 auto;
}

  .black-square{
      background-color :black;
      height: 100px;
      width: 100px;
      margin: 3px;
      text-align: center;
  }

  .off-white-square{
      background-color: #e8db84;
      height: 100px;
      width: 100px;
      margin: 3px;
      text-align: center;
  }

  .orange-checker{
    background-color: #e8a831;
    padding: 40%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid white;
  }

  .tan-checker{
    background-color: #B68D40;
    padding: 40%;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 2px solid white;
  }

  button {
    margin: auto;
    padding: 12px;
    font-family: "Helvetica";
    background-color: #999;
    width: 200px;
    border: 1px solid black;
    display: flex;
    font-size: 2em;
    justify-content: center;
  }
  .tile-selected{
    box-shadow: 0 3px 4px 0;
    opacity: .5;
  }

  .checker-selected{
    box-shadow: 0 0 0 99999px rgba(78, 168, 85, 0.8);
  }

  #reset:hover{
    background-color: #c0deb4
    
  }
  
#orange-score{
  display: inline;
  position: relative;
  left: 450px;
  top: 50px;
}
#tan-score{
  display: inline;
  position: relative;
  left: 900px;
  top: 50px;
}

#score{
    font-family: "Helvetica";
    font-size: 1.5em;
  }

  #score-separator{
    display: inline;

  }
  

  /* media only screen and (max-width: 800px ){
    body{
    }
  } */